{% extends "AdminBundle::layout.html.twig" %}

{% block body %}
    <div class="well">
        <div class="row">
            <div class="col-xs-3">
                <!-- Nav tabs -->
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#main" aria-controls="main" role="tab" data-toggle="tab">Основные</a></li>
                        <li role="presentation"><a href="#desc" aria-controls="desc" role="tab" data-toggle="tab">Описание</a></li>
                        <li role="presentation"><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">Фотографии</a></li>
                        <li role="presentation"><a href="#seo" aria-controls="seo" role="tab" data-toggle="tab">Мета</a></li>
                        <li role="presentation"><a href="#category" aria-controls="category" role="tab" data-toggle="tab">Категории</a></li>
                        <li role="presentation"><a href="#price" aria-controls="price" role="tab" data-toggle="tab">Цены</a></li>
                        {#<li role="presentation"><a href="#entity" aria-controls="entity" role="tab" data-toggle="tab">Связи</a></li>#}
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Настройки</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-8">
                <!-- Tab panes -->
                {{ form_start(form, {'class' : 'form-horizontal'}) }}
                {{ form_errors(form) }}
                    <div class="tab-content">
                        <div class="text-right">
                            <button class="btn btn-primary"  type="submit" style=""><span class="glyphicon glyphicon-floppy-save">&nbsp;</span>Сохранить</button>
                            <button class="btn btn-primary"  type="submit" style=""><span class="glyphicon glyphicon-floppy-save">&nbsp;</span>Сохранить и остаться</button>
                        </div>
                        <br />
                        <div role="tabpanel" class="tab-pane active" id="main">{{ include('@Admin/Product/item/main.html.twig') }}</div>
                        <div role="tabpanel" class="tab-pane" id="desc">{{ include('@Admin/Product/item/desc.html.twig') }}</div>
                        <div role="tabpanel" class="tab-pane" id="photo">{{ include('@Admin/Product/item/galery.html.twig') }}</div>
                        <div role="tabpanel" class="tab-pane" id="price">{{ include('@Admin/Product/item/price.html.twig') }}</div>
                        <div role="tabpanel" class="tab-pane" id="seo">{{ include('@Admin/Product/item/seo.html.twig') }}</div>
                        <div role="tabpanel" class="tab-pane" id="category">{{ include('@Admin/Product/item/category.html.twig') }}</div>
                        <div role="tabpanel" class="tab-pane" id="settings">...</div>
                        <div>
                            <button class="btn btn-primary" style="float: left"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>Назад</button>
                            <button class="btn btn-primary" style="float: right">Далее&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
                        </div>
                    </div>
                    {#{{ render(controller('AdminBundle:Default:csrfToken')) }}#}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}